---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SocialBubble from "../components/SocialBubble.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import InstagramIcon from "../icons/Instagram.astro";
import BriefCase from "../icons/BriefCase.astro";
---

<Layout
  title="Portafolio | Eduardo Fuentes Reyes Desarrollador web backend"
  description="Eduardo Fuentes Reyes, desarrollador backend especializado en crear soluciones robustas y eficientes."
>
  <main>
    <SectionContainer id="top">
      <h1
        id="title-typed"
        class="text-white sm:text-2xl lg:text-5xl flex justify-center flex-row gap-x-5 font-bold pb-5"
      >
      </h1>
      <h2 class="text-justify lg:text-xl px-7">
        <span>+3 años de experiencia.</span>
        <span class="text-blue-400/100"
          >Desarrollador web enfocado en backend</span
        >,
        <span class="text-blue-200/90"
          >especializado en crear aplicaciones robustas y eficientes.</span
        >
        <span class="opacity-75">Chile 🇨🇱.</span>
      </h2>
      <nav
        class="flex flex-col md:flex-row justify-center items-center gap-x-2 mt-8 mx-4"
      >
        <SocialBubble href="https://www.linkedin.com/in/eduardofuentesreyes/">
          <LinkedinIcon class="size-6" />
          LinkedIn
        </SocialBubble>
        <SocialBubble href="https://github.com/eduardo732">
          <GithubIcon class="size-6" />
          GitHub
        </SocialBubble>
        <SocialBubble href="https://www.instagram.com/eduuu.dev/">
          <InstagramIcon class="size-6" />
          Instagram
        </SocialBubble>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-2 items-center">
        <BriefCase class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>

<script>
  import Typed from "typed.js";
  new Typed("#title-typed", {
    strings: ["Hola! soy Eduardo Fuentes."],
    typeSpeed: 70,
    showCursor: false,
  });
</script>
