---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Portafolio | Eduardo Fuentes Reyes">
  <main>
    <h1>Hola! soy Eduardo o eduuudev en mis redes.</h1>
    <h2>+3 años de experiencia. Desarrollador web enfocado en el backend.</h2>
  </main>
</Layout>
