---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    id: 1,
    date: "Junio 2021 - Febrero 2022",
    title: "Analista programador - Jefe de proyecto Mantenciones",
    company: "AMS ASICOM",
    description: `Enfocado en la gestión y liderazgo de la corrección de errores en los portales de AMS.`,
  },
  {
    id: 2,
    date: "Marzo 2022 - Junio 2022",
    title: "Desarrollador Backend | Mercado Público",
    company: "Quintess",
    description: `Enfocado en el desarrollo de nuevos requerimientos y de la mantención de los servicios Back-End de Mercado Público.`,
  },
  {
    id: 3,
    date: "Agosto 2022 - Julio 2024",
    title: "Desarrollador Backend | Mercado Público",
    company: "Inovabiz",
    description: `Enfocado en la mantención, mejoras y desarrollo de servicios Back-End de Mercado Público.`,
  },
  {
    id: 4,
    date: "Agosto 2024 - Octubre 2024",
    title: "Desarrollador Backend | Fábrica",
    company: "Inovabiz",
    description: `Enfocado en el desarrollo de un nuevo posible producto de la compañía, donde tuve la oportunidad de trabajar con nuevas tecnologías como Python, Azure Functions, Cosmos DB, entre otros.`,
  },
  {
    id: 5,
    date: "Octubre 2024 - Marzo 2025",
    title: "Desarrollador Backend | Ripley",
    company: "Inovabiz",
    description: `Enfocado en el desarrollo de un nuevo producto de la compañia [Rompefilas], donde tuve la oportunidad de trabajar con microservicios en un ecosistema de NodeJs, con Typescript, Express y MongoDB.`,
  },
  {
    id: 6,
    date: "Marzo 2025 - Actualmente",
    title: "Desarrollador Backend | Ripley",
    company: "Inovabiz",
    description: `Enfocado en el desarrollo de un nuevo producto de la compañia [Rebates internos], donde tuve la oportunidad de trabajar con microservicios en un ecosistema de NodeJs, con Typescript, Express y MongoDB.`,
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    )).reverse()
  }
</ol>
