---
import Github from "../icons/Github.astro";
import Bubble from "./Bubble.astro";
---
<div class="flex flex-col gap-y-8">
  <div class="flex justify-center">
    <Bubble ref="https://github.com/eduardo732">
      <Github class="size-6" />
      Si tienes tiempo, revisa mi Github para ver más proyectos y contribuciones! 
    </Bubble>
  </div>
</div>
